rocommunity ceaget
disk / 20%
disk /local 20%
disk /var 20%
disk /var/audit 20%
disk /var/log 20%
disk /home 20%
disk /tmp 10%
disk /data/logstash 20%
disk /data/logstash/logs 20%
disk /data/elasticsearch 20%
disk /data/elasticsearch/repo 20%
disk /data/elasticsearch/logs 20%