[SLE15SP1_module_basesystem]
name=SLE15 SP1 Module Basesystem
enabled=1
autorefresh=1
baseurl=https://arm.sero.gic.ericsson.se/artifactory/proj-suse-repos-rpm-local/SLE15/ISO/SLE-15-SP1-GM/SLE-15-SP1-Packages-x86_64-GM-DVD1
path=./Module-Basesystem
type=rpm-md
priority=30
keeppackages=0
